footer
{
    background-color : #FFC107;
    padding : 6% 12%;
}

footer .container
{
    display : flex;
    width : 100%;
}

footer .container div
{
    width : calc(100% / 3);
}

footer .container div.legalmention
{
    text-align : center;
}

footer .container div.button
{
    text-align : right;
    margin : auto 0;
}

footer .container div.button a
{
    color : white;
    font-family: 'Josefin Sans', serif;
    font-size : 12px;
    font-weight : 700;
    text-transform : uppercase;
    text-decoration : none;
    padding : 22px 36px;
    border : 1px solid white;
    border-radius : 72px;
}

footer .container div.informations, footer .container div.legalmention a
{
    font-family: 'Inria Serif', serif;
    color : white;
}

footer .container div.informations p
{
    font-size: 15px;
    line-height: 18px;
    text-align : left;
}

footer .container div.legalmention a
{
    text-decoration : none;
    font-size: 20px;
    line-height: 24px;
}

footer .container div.legalmention a img
{
    display : block;
    width : 40px;
    height : auto;
    margin : 24px auto 0 auto;
}
