footer{
  background-color: #FFC107;;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.container > div {
  width : 150px;
  height : 150px;
  border : 1 px solid
}

.container{
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
	color: #ffffff;
}

.info{
	color: #ffffff;
  font-family: 'Glisa', sans-serif;
  display: flex;
  font-size: 16px;
  width:800px;
  padding:5px;
  float:left;width:100px;
}

.mentionlegale{
  font-family: 'Glisa', sans-serif;
  text-align: center;
  margin:0 auto;width:100px;
}

.rendezvous{
  font-family: 'Glisa', sans-serif;
  float: right;
  margin-left:5%;
  float:right;width:100px;
}
