header{
  height:150px;
  width: 100%;
  background-color: rgba(0,0,0,0);

}

header img{
  margin: 30px, auto;
  height: 58px;
  width: auto;
}

div.menu > ul{
  list-style-type: none;
  display: inline-flex;
}

.top_menu{
  color: black;
}
